.AE-inmueble {
    width: 80%;
    margin: auto;
    background-color: #E0E0E0;
    padding: 3rem 10rem;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 1rem;
}

.AE-inmueble a {
    color: black;
    display: flex;
    justify-content: right;
    font-size: large;
    margin-top: 1rem;
    text-decoration: none;
}

.AE-inmueble button.large { 
    display: block;
    font-weight: bold;
    font-size: medium;
    margin: 2rem auto;
}

.AE-inmueble a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Ajusta el grosor */
  text-decoration-color: black; /* Ajusta el color */
  text-underline-offset: 2px; /* Ajusta la distancia entre el texto y la línea */
}
.col-70 {
    flex: 0 0 70%;
}

.col-30 {
    flex: 0 0 30%;
}

.col-25 {
    flex: 0 0 25%;
}


.col-100 {
    flex: 0 0 100%;
}

#center{
    text-align: center;
}

/* Responsividad */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col-70,
    .col-30,
    .col-100 {
        flex: 0 0 100%;
    }

    .text-input input,
    .text-input textarea {
        height: auto; /* Ajuste para dispositivos más pequeños */
    }
}
