/* General container styles */
.container {
    display: flex;
    margin: 5rem auto;
    
    width: 50%;
    border-radius: 8px;
    overflow: hidden; /* Para que los bordes redondeados afecten a los elementos internos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Image container styles */
.image-container {
    flex: 1; /* Ocupa la mitad del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%; /* Asegura que la imagen ocupe todo el espacio disponible */
    height: 100%;
    object-fit: cover; /* Mantiene la imagen centrada y cubriendo todo el contenedor */
}

/* Form container styles */
.form-container {
    flex: 1; /* Ocupa la otra mitad */  
    padding: 20px;
    min-height: 35rem;
    border-radius: 0;
}
.text-input{
    margin: 2rem auto;
    width: 90%;
    
}

.form-container a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px; /* Ajusta el grosor */
    text-decoration-color: black; /* Ajusta el color */
    text-underline-offset: 2px; /* Ajusta la distancia entre el texto y la línea */
}

.form-container a {
    color: black;
    display: flex;
    justify-content: right;
    font-size: large;
    margin: auto auto;
    text-decoration: none;
}
button.large{
    display: block;
    margin: 1rem auto;
}
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.check-input{
    margin: 2rem auto 5rem;
    width: 90%;
}

