.nosotros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 3rem;
    width: 80%;  
    margin: auto;
    background-color: white;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
}

.img-us {
    background-image: url(/INMOBILIARIA/IMG/About-Us.jpg);
    grid-column: span 3;
    height: 30rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.nosotros article {
    background-color: #E0E0E0;
    padding: 20px;
    text-align: center;
    padding: 2rem 5.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: medium;
    
}
.nosotros article h3{
    margin-bottom: 2rem;
}
article {
    transition: transform 0.3s ease-in-out; /* Transición suave para el cambio de tamaño */
}

article:hover {
    transform: scale(1.05); /* Escala el article a 1.05 veces su tamaño original */
    cursor: pointer; /* Opcional: cambia el cursor para indicar interactividad */
}